<!DOCTYPE html>
<html lang="en"
      xmlns:th ="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/* thymeleaf-extras-springsecurity6 */-->
<!--/* th:fragment="header" : layout에서 사용할 조각 이름 설정 */-->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <!-- /*
                        isAnonymous() : 권한이 없는 경우 (로그인 안된 경우)
                        isAuthenticated() : 권한이 있는 경우 (로그인 한 경우)
                     */ -->

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/board/register}">register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/board/list}">list</a>
                    </li>
                    <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/user/signup}">signin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/user/login}">login</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item" th:with="auth=${#authentication.getPrincipal()}">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">[[${auth.userVO.nickName}]]</a>
                        </li>
                        <li class="nav-item">
<!--                            <form action="/user/logout" method="post">-->
                                <a class="nav-link active" id="logoutLink" aria-current="page" th:href="@{/user/logout}">logout</a>
<!--                            </form>-->
                        </li>
                    </th:block>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">userLis(ADMIN)</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
<!--    <script>-->
<!--        document.getElementById('logoutLink').addEventListener('click', (e)=> {-->
<!--            e.preventDefault() // 기존 a태그의 링크를 없애는 역할-->
<!--            document.getElementById('logoutForm').submit();-->
<!--        });-->
<!--    </script>-->
</div>